/* Clear refinements */
.ais-ClearRefinements {
  color: #3a4570;
}

.ais-ClearRefinements-button {
  padding: .3rem .5rem;
  overflow: visible;
  /* font: inherit; */
  font-size: .8rem;
  line-height: normal;
  color: #fff;
  background-color: #0096db;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  -webkit-transition: background-color .2s ease-out;
          transition: background-color .2s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ais-ClearRefinements-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.ais-ClearRefinements-button[disabled] {
  cursor: default;
}

.ais-ClearRefinements-button:hover,
.ais-ClearRefinements-button:focus {
  background-color: #0073a8;
}

.ais-ClearRefinements-button--disabled {
  display: none;
  opacity: .6;
  cursor: not-allowed;
}

.ais-ClearRefinements-button--disabled:hover,
.ais-ClearRefinements-button--disabled:focus {
  background-color: #0096db;
}
