/* Refinement list */
.ais-RefinementList-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ais-RefinementList-showMore {
  overflow: visible;
  padding: 0;
  font: inherit;
  color: inherit;
  line-height: normal;
  background: none;
  border: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ais-RefinementList-showMore::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.ais-RefinementList-showMore[disabled] {
  cursor: default;
}

.ais-RefinementList {
  color: #3a4570;
}

.ais-RefinementList-searchBox > * {
  margin-bottom: .5rem;
}

.ais-RefinementList-showMore {
  padding: .3rem .5rem;
  font-size: .8rem;
  color: #fff;
  background-color: #0096db;
  border-radius: 5px;
  outline: none;
  -webkit-transition: background-color .2s ease-out;
          transition: background-color .2s ease-out;
}

.ais-RefinementList-showMore:hover,
.ais-RefinementList-showMore:focus {
  background-color: #0073a8;
}

.ais-RefinementList-showMore--disabled {
  opacity: .6;
  cursor: not-allowed;
}

.ais-RefinementList-showMore--disabled:hover,
.ais-RefinementList-showMore--disabled:focus {
  background-color: #0096db;
}

.ais-RefinementList-list {
  font-weight: normal;
  line-height: 1.5;
}

.ais-RefinementList-count {
  padding: .1rem .4rem;
  font-size: .8rem;
  color: #3a4570;
  background-color: #dfe2ee;
  border-radius: 8px;
}

.ais-RefinementList-showMore {
  margin-top: .5rem;
}
