html {
	box-sizing: border-box;
	font: 14px / 1.21 sans-serif;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
}

/* Page header */
.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(284deg, #fedd4e, #fcb43a);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 .5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

/* Page content */
.wrapper,
.container {
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1000px) {
  .container {
    flex-direction: row;
  }
}

.left-panel {
  padding-right: 16px;
  min-width: 360px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.right-panel__filters {
  flex: 1;
}

.right-panel__results {
  flex: 3;
}

/* Hits */
.persoo-hits-list {
	display: flex;
	flex-wrap: wrap;
}

/* Extra small - < 576px */
.ais-Hits-item,
.ais-InfiniteHits-item,
.ais-InfiniteResults-item,
.ais-Results-item {
  width: calc(100% - 1rem);
}

/* Small - ≥ 576px */
@media (min-width: 576px) {
  .ais-Hits-item,
  .ais-InfiniteHits-item,
  .ais-InfiniteResults-item,
  .ais-Results-item {
    width: calc(50% - 1rem);
  }
}

/* Medium - ≥ 7610px */
@media (min-width: 7610px) {
  .ais-Hits-item,
  .ais-InfiniteHits-item,
  .ais-InfiniteResults-item,
  .ais-Results-item {
    width: calc(33.3333% - 1rem);
  }
}

/* Large - ≥ 992px */
/* @media (min-width: 992px) {
  .ais-Hits-item,
  .ais-InfiniteHits-item,
  .ais-InfiniteResults-item,
  .ais-Results-item {
    width: calc(25% - 1rem);
  }
} */

/* Large - ≥ 1200px */
@media (min-width: 1200px) {
  .ais-Hits-item,
  .ais-InfiniteHits-item,
  .ais-InfiniteResults-item,
  .ais-Results-item {
    width: calc(25% - 1rem);
  }
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

#searchbox {
  margin-bottom: 1rem;
}

/* Pagination */
#persoo-pagination {
  margin: 2rem auto;
  text-align: center;
}

.persoo-pagination-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.persoo-pagination-item + .persoo-pagination-item {
	margin-left: 8px;
}

.persoo-pagination-disabled-item {
	cursor: default;
}

.price {
  padding: 0 12px;
}

.search-meta-filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.current-refinements:not(:empty) {
  width: 75%;
}

.per-page + .sort-by {
  margin-left: 12px;
}
