/* Persoo generic custom select styles */
.persoo-custom-select {
  position: relative;
}

.persoo-custom-select-toggler {
  padding: .3rem 2rem .3rem .3rem;
  min-width: 120px;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M0 7.3l2.8-2.8 9.2 9.3 9.2-9.3L24 7.3 12 19.5z' fill='%233A4570'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 95% 50%;
  border: 1px solid #c4c8d8;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.persoo-custom-select-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
}

.persoo-custom-select-menu--visible {
  display: block;
}

.persoo-custom-select-option {
  display: block;
  padding: 8px;
  background: #fff;
  font-size: 14px;
  cursor: pointer;
  border-left: 1px solid #c4c8d8;
  border-right: 1px solid #c4c8d8;
  transition: background .2s ease-in-out;
}

.persoo-custom-select-option:hover {
  background: hsl(228, 20%, 96%);
}

.persoo-custom-select-option + .persoo-custom-select-option {
  border-top: 1px solid #c4c8d8;
}

.persoo-custom-select-option:last-child {
  border-bottom: 1px solid #c4c8d8;
  border-radius: 0 0 4px 4px;
}
